{{#x-card
  title='Signup with Peepchat'
  buttonDisabled=validations.messages.length
  onSubmit=attrs.onSubmit
  buttonText='Register'}}
  <div class="row">
    {{x-input
      value=model.email
      classNames='col s12'
      errors=(v-get this 'model.email' 'messages')
      type='email'
      label='Username'}}
  </div>
  <div class="row">
    {{x-input
      value=model.password
      classNames='col s12'
      errors=(v-get this 'model.password' 'messages')
      type='password'
      label='Password'}}
  </div>

  <div class="row">
    {{x-input
      value=model.passwordConfirmation
      classNames='col s12'
      errors=(v-get this 'model.passwordConfirmation' 'messages')
      type='password'
      label='Confirm Password'}}
  </div>
{{/x-card}}
{{yield}}
